
body{
    margin: 0;
    padding: 0;

}

.wrapper { 
    background-color: aqua;
    height: 100vh;
    position: relative;
}

.container { 
    background-color: white;
    position: absolute;
    transform: translateY(30vh);
right: 0;
    width:120vh;
    height: 40vh;
display: flex;
    
    border-top-left-radius: 20px;
    border-bottom-left-radius:20px;


    
}

.input-container { 
    margin:30px;
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px 50px;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
input { 
    visibility: hidden;
}
input:after { 
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: cadetblue;
    content: ''; 
    display: inline-block;
        visibility: visible;
        /* border: 2px solid white; */

        animation-name: up;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        
        transform: rotatex(180deg);
        transform-origin: top;
}
input:after:nth-of-type(0){
  
}

input:checked::after{
  
}

@keyframes up {
    0% {height: 60px;}
    50% {height: 120px;}
}

@keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 50px 50px;
    }
  }


  .testContainer{
      position: relative;

  }

  .test {
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    margin: 30px;
    transform: rotatex(180deg) translate3d(0, -200px,0);/* the Y-Value shall be higher than the height on hover*/
    transform-origin: top;
  }